#footer {
  .footer--general {
    display: flex;
    justify-content: space-between;
    &__block {
      p {
        font-weight: 400;
        font-size: 16px;
        line-height: 27px;
        color: #546285;
        padding: 20px 0;
      }
    }
    &__company {
      margin-top: -40px;
      h1 {
        font-weight: 400;
        font-size: 13px;
        color: #08090A;
      }
      p {
        font-weight: 400;
        font-size: 15px;
        color: #546285;
        padding: 10px 0;
      }
    }
    &__template {
      margin-top: -40px;
        h1 {
          font-weight: 400;
          font-size: 13px;
          color: #08090A;
        }
        p {
          font-weight: 400;
          font-size: 15px;
          color: #546285;
          padding: 10px 0;
        }
    }
    &__flow {
      margin-top: -40px;
      h1 {
        font-weight: 400;
        font-size: 13px;
        color: #08090A;
      }
      p {
        font-weight: 400;
        font-size: 15px;
        color: #546285;
        padding: 10px 0;
      }
    }
  }
  .footer--title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    h1 {
      font-weight: 400;
      font-size: 15px;
      color: #353448;
      span {
        color: #35B8BE;
      }
    }
    &__block {
      .fa-instagram {
        width: 40px;
        height: 40px;
        background: rgba(255, 255, 255, 0.44);
        opacity: 0.5;
        padding: 12px;
        border: 1px solid rgb(126, 130, 143);
        border-radius: 100px;

      }
      .fa-telegram {
        width: 40px;
        height: 40px;
        background: rgba(255, 255, 255, 0.44);
        opacity: 0.5;
        padding: 12px;
        border: 1px solid rgb(126, 130, 143);
        border-radius: 100px;
        margin: 20px;
      }
      .fa-youtube {
        width: 40px;
        height: 40px;
        background: rgba(255, 255, 255, 0.44);
        opacity: 0.5;
        padding: 11px;
        border: 1px solid rgb(126, 130, 143);
        border-radius: 100px;
      }

    }
  }
}