#call {
  padding-top: 200px;
  .call--general {
    display: flex;
    justify-content: space-around;
    align-items: center;
    &__block {
      h1 {
        font-family: 'Inter', sans-serif;
        font-weight: 400;
        font-size: 50px;
        line-height: 55px;
        color: #35B8BE;
      }
      p {
        font-family: 'Inter', sans-serif;
        font-weight: 400;
        font-size: 18px;
        line-height: 27px;
        color: #546285;
        padding: 30px 0;
      }
      button {
        font-family: 'Inter',sans-serif;
        font-weight: 400;
        font-size: 17px;
        color: #FFFFFF;
        height: 60px;
        width: 193px;
        border-radius: 6px;
        background: #35B8BE;
        border: none;
        transition: .4s;
        &:hover {
          transform: scale(1.1);
          color: black;
          background: #FFFFFF;
          border: 1px solid #35B8BE;
        }
      }
    }
  }
}